MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_ENV=sandbox

# Routing Rules (JSON format)
CALLBACK_ROUTING='{"SITE_A": "https://site-a.com/callback", "SITE_B": "https://site-b.com/callback"}'
